[Unit]
Description=VictoriaMetrics all data archive
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=victoriametrics
Group=victoriametrics
ExecStart=/opt/victoria-metrics-prod \
  -storageDataPath=/srv/victoria/all_data \
  -retentionPeriod=100y \
  -httpListenAddr=:8431
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target

